div.container(ng-controller='loginCtrl')
	form(ng-submit='autenticar()')
		div.row
			div.col-sm-4.col-sm-offset-4.form-group
				input.form-control(type='text', placeholder='Usuário', required, ng-model='usuario.nome')
		div.row
			div.col-sm-4.col-sm-offset-4.form-group
				input.form-control(type='password', placeholder='Senha', required, ng-model='usuario.senha')
		div.row
			div.col-sm-4.col-sm-offset-4.form-group
				input.btn.btn-success.form-control(type='submit', value='Entrar')
